{{> template/header}}

<div class="container">
    <h1>Flying yo</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Flights</h2>

            <ul>
                <li><a href="/flight/">Book a flight</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Managment</h2>

            <ul>
                <li><a href="/airport/">Airports</a></li>
                <li><a href="/airplane/">Airplanes</a></li>
                <li><a href="/type/">Airplane Types</a></li>
                <li><a href="/brand/">Airplane Brands</a></li>
            </ul>
        </div>
    </div>
</div>


{{> template/footer}}
