{{> template/header}}

<div class="container" id="flights">
    <div class="row">
        <div class="col-md-12">
            <h1>Flight</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row airport">
                <div class="col-md-4"><strong>Start point:</strong> <span class="first"></span></div>
                <div class="col-md-4"><strong>End point:</strong> <span class="second"></span></div>
                <div class="col-md-4"><strong>Distance:</strong> <span class="distance"></span></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block book">
                Book flight
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="status-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select two airports</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/flight.js"></script>
<script src="/js/util/PosUtil.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYJzWtotlBNSg7mwCQMnd5nPOd5592v9E&callback=initMap" async defer></script>

{{> template/footer}}
